<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.ourapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--LAUNCHER 가 홈 을 나타내는 것이다.  -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".truefalse"
            android:label="Our Application"
            android:exported="false"
            >
        </activity>
        <!--타이머-->
        <activity
            android:name=".timer"
            android:label="Our Application"
            android:exported="false"
            >
        </activity>
        <activity
            android:name=".alarm"
            android:label="Our Application"
            android:exported="false"
            >
        </activity>
        <activity
            android:name=".count"
            android:label="Our Application"
            android:exported="false"
            >
        </activity>
        <activity
            android:name=".info"
            android:label="Our Application"
            android:exported="false"
            >
        </activity>
        <service android:name=".CountService">
            <intent-filter>
                <action android:name="com.superdroid.service.CountService"/>
            </intent-filter>

        </service>
    </application>

</manifest>
